<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search city" name="city" [(ngModel)]="cityName">
  </form>
  <div appGeolocation [latitude]="result.latitude"  [longitude]="result.longitude" *ngFor="let result of cityResults.slice(0, 5)" (click)="selectCity(result)">
    {{result.name}}
  </div>
  <!--TODO: ADD SEARCH FILTER FEATURE-->
</div>
<div class="container">
  <div class="upper-data">
    <img src="../assets/hot.jpg" *ngIf="currentTemperature && currentTemperature > 15">
    <img src="../assets/cold.jpg" *ngIf="currentTemperature && currentTemperature <= 15">

    <div class="weather-data">
      <div class="location">{{selectedCityName}}</div>
      <div class="temperature">{{ currentTemperature | number: '1.0-0'}}°C</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      <p>Weather Details</p>
    </div>

    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="{{ weatherImageUrl }}" alt="currentWeatherImage">
          <span>condition</span>
        </div>
        <div class="info-block-value">
          {{ weatherDescription }}
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/cloud.png" alt="">
          <span>cloud cover</span>
        </div>
        <div class="info-block-value">
          {{ currentCloudCover }} %
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind-direction.png" alt="wind direction icon">
          <span>wind direction</span>
        </div>
        <div class="info-block-value">
          {{ currentWindDirection }} °
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind-speed.png" alt="">
          <span>wind speed</span>
        </div>
        <div class="info-block-value">
          {{ currentWind }} km/h
        </div>
      </div>

    </div>
  </div>
</div>


<router-outlet>
</router-outlet>
