:root {
    --green-1: #8DA242;
    --green-2: #A7BC5B;
    --yellow-1: #FABB22;
    --white: #FFF;
    --grey-1: #EDEDED;
    --light-transparent: rgba(255,255,255,0.6);
    --shadow-dark: rgba(0,0,0,0.1);
    --shadow-light: rgba(255,255,255,0.1);
}

* {
    font-family: Maven Pro, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {
    font-size: 16px;
    width: 100%;
    height: 100vh;
    background-color: var(--green-2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    position: absolute;
    z-index: 100;
}

.city-search-form {
    position: relative;
}

.city-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--light-transparent);
    box-shadow: 10px 10px 10px var(--shadow-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.city-results div {
    padding: 8px 10px;
    cursor: pointer;
}

.city-results div:hover {
    background-color: #f0f0f0;
    width: 100%;
    border-radius: 10px;
}

.container {
    width: 400px;
    height: 80vh;
    background-color: var(--green-1);
    border-radius: 20px;
    box-shadow: 10px 10px 10px var(--shadow-dark);
}

.compass {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: var(--green-2);
    position: relative;
    display: flex;
    justify-content: center;
    padding: 3px;
}

.current-weather-img {
    width: 3em !important;
}

.direction-info {
    margin-top: 0.7em;
    display: flex;
    flex-direction: column;
}

.upper-data {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.lower-data {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}

.upper-data img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
}


.weather-data {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--shadow-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.location {
    color: var(--yellow-1);
    text-align: center;
    font-size: 1.2rem;
}

.temperature {
    color: var(--yellow-1);
    font-size: 4em;
    text-align: center;
    font-weight: 900;
}

.more-info-label {
    color: var(--white);
    text-align: center;
}

.more-info-container {
    flex: 1;
    background-color: var(--shadow-dark);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 1em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.info-block {
    width: 50%;
    display: flex;
    flex-direction: row;
}


.info-block-label{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-block-label img{
    width: 2em;
}

.info-block-label span {
    color: var(--white);
    font-size: 0.8em;
}

.info-block-value {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--white);
}

.search {
    margin-bottom: 1em;
    text-align: center;
}

.search input {
    background-color: var(--shadow-dark);
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 1em;
    color: var(--white);
    font-size: 0.8em;
    text-align: center;
    width: 98%;
}

.subscript {
    color: var(--white);
    font-size: 0.7em;
    text-align: center;
    margin: 0.3em 0 0 0.3em;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
